


config V3_MODS
	bool "V3VEE Symbiotic modules"
	select V3_MOD_32BIT
	select V3_MOD_64BIT
	




config V3_MOD_32BIT
	bool "32 bit modules"
	depends on V3_MODS

config V3_MOD_32BIT_TEST
	bool "V3 Sym (i386) test module"
	default y if SYMMOD
	depends on V3_MOD_32BIT
	help 
	    This is a simple 32 bit test Symbiotic Module




config V3_MOD_64BIT
	bool "64 bit modules" 
	depends on V3_MODS
	default y		

