menu "Extensions"

config EXT_MTRRS
	bool "Support virtualized MTTRs"
	default n
	help
	   Provides a virtualized set of MTTR registers

config EXT_MACH_CHECK
	bool "Support machine-check functionality"
	default n
	help 
	   Provides a virtualized machine-check architecture

config DEGUB_EXT_MACH_CHECK
    bool "Debug machine-check functionality"
    default n
    depends on EXT_MACH_CHECK
    help
        Enable virtual machine-check architecture debugging

config EXT_INSPECTOR
	bool "VM Inspector"
	default n
	help
	  Provides the inspection extension

config EXT_VMWARE
	bool "VMWare Persona"
	default n
	help
	  Provides a VMWare persona to allow TSC calibration

endmenu
