menu "Host Interfaces"

config FILE
        bool "Host support for file operations"
        default n
        help
          Select this if your host OS supports file operatoins and you want Palacios to be able to use them.
	
config KEYED_STREAMS
        bool "Host support for keyed streams"
        default n
        help
          Select this if your host OS supports keyed streams
          Palacios Checkpoint/Restore and Migration depends on this feature

config STREAM
	bool "Host support for streams"
	default n
    help
        Select this if your host OS supports streams
        Palacios serial ports and similar functions depend on this feature
          
config CONSOLE
	bool "Host support for VM text-mode console"
        default n
        help
          Select this if you want to forward a guest console interface to some host OS service
          This is for a TEXT MODE console.   Select the framebuffer console for graphics and text
            
config GRAPHICS_CONSOLE
        bool "Host support for VM graphics and text-mode console based on a frame buffer"
        default n
	help
          Select this if you want to forward a guest graphics-mode (and text-mode) console
          interface to some host OS service.  This is for a GRAPHICS console based on a shared frame buffer.
          Text mode output is RENDERED onto the framebuffer

config SOCKET
        bool "Host support for Network Sockets"
        default y
        help
          Select this if you host OS implements a socket API that is available to Palacios. This is required
          to support the internal networking features of Palacios.


config PACKET
        bool "Host support for Raw Packet Transmision"
        depends on EXPERIMENTAL
        default n
        help
      	  Select this if you host OS implements a raw packet network API that is available to Palacios. This is required
          to support the internal networking features of Palacios.


config HOST_PCI
	bool "Host PCI support"
	depends on EXPERIMENTAL
	default y
	help 
	  This enables host support for passthrough PCI devices

config HOST_DEVICE
        bool "Host device support"
        default n
	help
          Select this if you want to forward a guest device to a host-based decice implementation
          This makes it possible for virtual devices such as the generic device and the pci_front
          device to make host-based device implementations appear within the guest
          
config HOST_HYPERCALL
       bool "Host hypercall support"
       default n
       help
          Select this if you would like to make it possible
          to register host-based implementations of hypercalls,
          for example, implemented in Linux kernel modules

config HOST_PMU
       bool "Host PMU support"
       default n
       help
          Select this if you would like to access performance
          counters (the PMU) within Palacios

config HOST_PWRSTAT
	bool "Host power statistics monitoring support"
	default n
	help
		Select this if you would like to access energy/power
		measurements within Palacios

config HOST_PSTATE_CTRL
    bool "Host allows us control of P-states"
    default n
    help
      Select this if your host allows control of hardware P-states (DVFS)

config HOST_LAZY_FPU_SWITCH
	bool "Host provides lazy FPU context switching"
	default n
	help
		Select this if your host provides lazy context switch support
                for floating point state and you would like Palacios to use it
endmenu
